

#box1 .box1 {
    padding: 50px 20px;
    width: 50%;
    margin: auto;
}

#box1 h1{
    font-weight: 100;
    font-family: 'Permanent Marker', cursive;
}

#box1 p{
    font-size: 17px;
    
}




@media only screen and (max-width: 700px) {
    #box1 .box1{
        width: 70%;
    }

}

